body {
  background-color: #FFF;
  margin: 0 auto;
}

header {
  background-color: #466995;
  border-bottom:1px solid #466995;
}

ul {
  margin: 33px auto;
  padding: 0 20px;
  text-align: center;
	
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  display: inline-block; 
  margin-right: 33px;
  margin-top: 32px;
}

li:hover {
  color: #DBE9EE;
}

h3{
    font-size: 28px;
	color: #2d3033;
	font-weight: 300;
	margin-top: 3;
	border-bottom: 12px solid #466995;
	align-content: center;
}
.intro {
	background-color: #00aeda;
	margin-top: 5px;
}
.intro h3 {
	color: #fff;
	margin-top: 9;
	text-align: center;
}
.intro  {
	font-family: "Merriweather", Arial, sans-serif;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 440;
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
}
.footer{
	background-color:#0DB3B0;
	margin: auto;
	border-bottom: 5px;
}
.footer4, h4{
  background-color: #DBE9EE;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  margin-top: 1px;
}

<!-------Profile------------!>

.cv{
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
		
}
 
.cv tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
.cv tr:hover {
    background-color: #f5f5f5;
}
 
.cv tr:nth-child(even) {
    background-color: #f2f2f2;
}

<!---------Yang Kedua---------!>

.cv2{
    font-family:'Pacifico', cursive;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
		
}
 
.cv2 tr th{
    background:#1B8B89;
    color: #fff;
    font-weight: normal;
}
.cv2 tr:hover {
    background-color: #f5f5f5;
}
 
.cv2 tr:nth-child(even) {
    background-color: #f2f2f2;
}
<!------Yang Ketiga---------!>
.cv3{
    font-family:'Pacifico', cursive;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
		
}
.cv3 tbody {
    background:#579C81;
}
.cv3 tr th {
    background:#579C81;
    color: #fff;
    font-weight: normal;
}
.cv3 td {
    background:#579C81;
    color: #fff;
    font-weight: normal;
}
.cv3 tr:hover {
    background:#f5f5f5;
}
.cv3 tr:nth-child(even) {
    background-color: #f2f2f2;
}
<!-------Gallery------------!>
#imagee {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
}

#imagee:hover 
	{opacity: 0.7;}

<!-------About Us-----------!>
.wee{
	font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}
.wee, h2, p{
	background:#35A9DB;
    color: #fff;
    font-weight: normal;
	text-align: center;
	width: 100%;
}
<!------------Technology------------!>
.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: #FFFFFF;
  text-align: left;
}

/* Roast types */
.green {
  background-color: DarkSeaGreen;
}

.light {
  background-color: Sienna;
}

.city {
  background-color: SaddleBrown;
}

.vienna {
  background-color: Brown;
}

.italian {
  background-color: Black;
}
